<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Load static files -->
    {% load static %}
    <title>FbaPrepCenterItaly</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'return_management/css/product_return_list.css' %}">
</head>
<body>

    <!-- Top Bar -->
    <header class="top-bar">
        <div class="top-bar__content">
            <h1 class="top-bar__app-name">FbaPrepCenterItaly</h1>
            <span class="top-bar__user-name">Adriano</span>
        </div>
    </header>

    <!-- Middle Container -->
    <div class="middle-container">
        <div class="middle-container__controls">
            <button class="middle-container__button btn btn-primary">Edit products</button>
            <button class="middle-container__button btn btn-primary">Stored</button>
            <button class="middle-container__button btn btn-primary">Shipped</button>
            <button class="middle-container__button btn btn-primary">New inventory</button>
            <button class="middle-container__button btn btn-primary">Used inventory</button>
            <button class="middle-container__button btn btn-primary">Assistance</button>
            <button class="middle-container__button btn btn-primary">Dispose</button>
            <button class="middle-container__button btn btn-primary">Waiting</button>
            <button class="middle-container__button btn btn-primary">To be checked</button>
            <button class="middle-container__button btn btn-primary">Other destination</button>
            <input type="text" class="middle-container__search-box form-control" id="globalSearch" placeholder="Global Search" style="width: 300px; margin-left: 20px;">
        </div>
    </div>

    <!-- Main Body -->
    <div class="main-body">
        <table id="productTable" class="display">
                <thead>
                    <tr class="filter-row">
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                        <th><input type="text" class="form-control" /></th>
                    </tr>
                    <tr>
                        <th>Approved</th>
                        <th>Box</th>
                        <th>Box Type</th>
                        <th>Picked</th>
                        <th>Shipped</th>
                        <th>IPN</th>
                        <th>Brand</th>
                        <th>Product Description</th>
                        <th>Additional Info</th>
                        <th>Other Info</th>
                        <th>Destination</th>
                        <th>Verification Request</th>
                        <th>ASIN</th>
                        <th>SKU</th>
                        <th>FNSKU</th>
                        <th>EAN</th>
                        <th>Serial Number</th>
                        <th>State (Amz)</th>
                        <th>Reason (Amz)</th>
                        <th>Customer Notes</th>
                        <th>Notes</th>
                    </tr>
                </thead>            
                <tbody>
                    {% for product in product_returns %}
                    <tr>
                        <td>
                            <input type="checkbox" {% if product.approved %}checked{% endif %} disabled>
                        </td>
                        <td>
                            {% if product.box > 0 %}
                                {{ product.box }}
                            {% endif %}
                        </td>
                        <td>{{ product.box_type }}</td>
                        <td>
                            {% if product.picked %}
                                {{ product.picked|date:"Y/m/d" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if product.shipped %}
                                {{ product.shipped|date:"Y/m/d" }}
                            {% endif %}
                        </td>
                        <td>{{ product.lpn }}</td>
                        <td>{{ product.brand }}</td>
                        <td title="{{ product.product_description }}">{{ product.product_description }}</td>
                        <td>{{ product.additional_info }}</td>
                        <td title="{{ product.other_info }}">{{ product.other_info }}</td>
                        <td>{{ product.destination }}</td>
                        <td>
                            <input type="checkbox" {% if product.verification_request %}checked{% endif %} disabled>
                        </td>
                        <td>{{ product.asin }}</td>
                        <td>{{ product.sku }}</td>
                        <td>{{ product.fnsku }}</td>
                        <td>{{ product.ean }}</td>
                        <td>{{ product.serial_number }}</td>
                        <td>{{ product.state_amz }}</td>
                        <td>{{ product.reason_amz }}</td>
                        <td title="{{ product.customer_notes }}">{{ product.customer_notes }}</td>
                        <td title="{{ product.notes }}">{{ product.notes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer__content">
            <div class="footer__info" id="tableInfo"></div>
            <div class="footer__pagination" id="tablePagination"></div>
        </div>
    </footer>

    <!-- jQuery and DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'return_management/js/product_return_list.js' %}"></script>
</body>
</html>
